@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  .josefin {
    font-family: "Josefin Slab", serif;
  }

  --orange: 249, 115, 22;
}

html,
body {
  scroll-behavior: smooth;

  margin: 0;
}
